<a class="dropdown-item" href="#">Profil Düzenle</a>
<a class="dropdown-item" href="#">Şifre Değiştir</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Çıkış Yap</a>